
.navbar{
    padding: 0 2rem;
    background-color: #D6DBF5;
    display: flex;
    justify-content: center;
    
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 10rem;
}

.nav-logo{
    width: 40px;
    height: 40px;
    margin-right: .6rem;
}

.nav-name{
    color: #293264;
}